services:
  db:
    image: postgres:15-alpine
    container_name: price-tracker-db
    environment:
      POSTGRES_DB: pricetracker_db
      POSTGRES_USER: user_admin
      POSTGRES_PASSWORD: password123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: